.container
  .row
    .col-lg-3
      = form_for(@catalog) do |f|
        .form-group
          = label_tag(:q, "Catalog name:")
          = f.text_field(:name, class:"form-control")
        .form-group
          = f.select :type, options_for_select(@catalog_options),{} ,{class:"form-control"}
        .actions
          = f.submit class:"btn btn-default"
