=content_for :title, @catalog.name
=content_for :subtitle, @catalog.type


- if @catalog.type == "MasterCatalog"
  = render "catalogs/dashboard/master_catalog"
- elsif @catalog.type == "LocalCatalog"
  = render "catalogs/dashboard/local_catalog"
- elsif @catalog.type == "DropboxCatalog"
  = render "catalogs/dashboard/dropbox_catalog"
- elsif @catalog.type == "FlickrCatalog"
  = render "catalogs/dashboard/flickr_catalog"

.row
  = render :partial => "catalogs/dashboard/stats"
.row
  .col-lg-12
    = render :partial => "jobs/list", locals: {compact: true}
