
<div class="row">
	<div class="col-lg-3">
		<h4>Catalogs</h4>
	</div>
</div>

<div class="row">
	<div class="pull-right col-md-1">
		<%= link_to "New catalog", "/catalogs/new", class:"btn btn-default"%>
	</div>
</div>


<div class="row">
	<div class="col-md-12">

		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Storage path</th>
					<th>Type</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @catalogs.each do |catalog| %>
				<tr>

					<td><%= link_to catalog.name, action: 'manage', id:catalog %></td>
					<td><%= catalog.path %></td>
					<td><%= catalog.type %></td>
					<td>
						<% if catalog.online %>
							<%= icon('toggle-on') %>
						<% else %>
							<%=icon('toggle-off') %>
						<% end %>

					</td>

					<td><%= link_to icon('picture-o'), action: 'show', id: catalog %></td>
					<td><%= link_to icon('pencil'), action: 'manage', id:catalog %></td>
					<td>
						<a data-toggle="modal" data-target="#import_to_master" data-catalogid="<%=catalog.id %>" href="#">
							<i class="fa fa-cloud"></i>
						</a>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<div class="col-sm-6 col-sm-offset-3">
			<%= paginate @catalogs, :theme => 'twitter-bootstrap-3' %>
		</div>
	</div>
</div>


<%=
	render partial: "catalogs/modals/modal",
		locals: {
			title: "Import photos",
			modal_id: "import_to_master",
			button_text: "Import",
			content: "<strong>Are your sure you want to import photos from the following location(s):</strong><ul class='list-unstyled'></ul>"
		}
%>
