.row
  .col-lg-3
    %h4 Catalogs
.row
  .pull-right.col-md-1
    = link_to "New catalog", "/catalogs/new", class:"btn btn-default"
.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th Name
          %th Storage path
          %th Type
          %th
          %th
          %th
      %tbody
        - @catalogs.each do |catalog|
          %tr
            %td= link_to catalog.name, action: 'manage', id:catalog
            %td= catalog.path
            %td= catalog.catalogtype
            %td
              - if catalog.online
                = icon('toggle-on')
              - else
                = icon('toggle-off')
            %td= link_to icon('picture-o'), action: 'show', id: catalog
            %td= link_to icon('pencil'), action: 'manage', id:catalog
            %td
              %a{"data-catalogid" => "#{catalog.id}", "data-target" => "#import_to_slavex", :href => "catalogs/#{catalog.id}/import"}
                %i.fa.fa-cloud
    .col-sm-6.col-sm-offset-3
      = paginate @catalogs, :theme => 'twitter-bootstrap-3'
