

.col-md-6
  .box.box-primary
    .box-header.with-border
      %h3.box-title Check for new photos in the catalog path(s)
    = form_tag("/catalogs/#{@catalog.id}/import", method: "post") do
      .box-body
        %ul.list-unstyled
          -@catalog.watch_path.each do |path|
            %li
              .h4
                %span.label.label-default=path

        =hidden_field_tag "import_action", "MasterCatalog"
      .box-footer
        %button.btn.btn-default{:type => "submit"} Check
-if @catalog.photos.count > 0
  .col-lg-3.col-xs-6
    / small box
    .small-box.bg-green
      .inner
        %h3
          =number_with_delimiter @catalog.photos.count
        %p Photos in catalog
      .icon
        %i.fa.fa-photo
      %a.small-box-footer{:href => "#"}
        More info
        %i.fa.fa-arrow-circle-right

  .col-lg-3.col-xs-6
    / small box
    .small-box.bg-yellow
      .inner
        %h3
          = @catalog.photos.order(:created_at).limit(1).first.created_at.strftime("%b %d %Y")
        %p Last photo uploaded
      .icon
        %i.fa.fa-clock-o
      %a.small-box-footer{:href => "#"}
        More info
        %i.fa.fa-arrow-circle-right

  .col-lg-3.col-xs-6
    / small box
    .small-box.bg-red
      .inner
        %h3
          = @catalog.photos.order(:date_taken).limit(1).first.date_taken.strftime("%b %d %Y")
        %p First photo taken
      .icon
        %i.fa.fa-clock-o
      %a.small-box-footer{:href => "#"}
        More info
        %i.fa.fa-arrow-circle-right

  .col-lg-3.col-xs-6
    / small box
    .small-box.bg-aqua
      .inner
        %h3
          = @catalog.photos.order(date_taken: :desc).limit(1).first.date_taken.strftime("%b %d %Y")
        %p Last photo taken
      .icon
        %i.fa.fa-clock-o
      %a.small-box-footer{:href => "#"}
        More info
        %i.fa.fa-arrow-circle-right

-#.col-lg-12#job_list

= render :partial => "jobs/list", locals: {compact: true}
