%ul.text-right.list-inline
  %li= link_to icon('picture-o', class: 'fa-lg'), controller: 'photos', action: 'show', size: "#{@photo.md_id}"
  %li= link_to icon('picture-o', class: 'fa-2x	'), controller: 'photos', action: 'show', size: "#{@photo.lg_id}"
  %li= link_to icon('picture-o', class: 'fa-3x'), controller: 'photos', action: 'show', size: "#{@photo.org_id}"
