<table>
  <thead>
    <tr>
      <th>Photo 1</th>
      <th>Photo 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doubles.each do |double| %>
      <tr>
        <td>
			<%= double.items[0] %><%= image_tag '/photos/' + double.items[0].to_s + '/image/small' %>
			Delete
		</td>
        <td>
			<%= double.items[1] %><%= image_tag '/photos/' + double.items[0].to_s + '/image/small' %>
			<%= link_to 'Delete', action: "delete", photo_id: double.items[0], doubles_id: double.id %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>
