= form_for(@album) do |f|
  .box.box-primary
    .box-body
      .row
        .col-lg-3
          .form-group
            = label_tag(:q, "Album name:")
            = f.text_field(:name, class:"form-control")
          .form-group
            = label_tag(:q, "Country:")
            = f.select :country, options_for_select(@countries, @album.country), {}, {class:"form-control"}
          .form-group
            = label_tag(:q, "City:")
            = f.select :city, options_for_select(@cities, @album.city), {}, {class:"form-control"}
        .col-lg-3
          .input-daterange
            .form-group
              = label_tag(:q, "Start date:")
              = f.datetime_field(:start, class:"form-control  actual_range")
            .form-group
              = label_tag(:q, "End date:")
              = f.datetime_field :end, class:"form-control  actual_range"
          .form-group
            = label_tag(:q, "Tags:")
            = f.text_field(:tags, class:"form-control", "data-tags"=>@tags.to_json)


        .col-lg-3
          .form-group
            = label_tag(:q, "Make:")
            = f.select :make, options_for_select(@makes, @album.make), {}, {class:"form-control"}
          .form-group
            = label_tag(:q, "Model:")
            = f.select :model, options_for_select(@models, @album.model), {}, {class:"form-control"}
      .box-footer
        = f.submit class:"btn btn-default"
