.panel.panel-default.pre-scrollable
  .panel-body#albums
    - selected = [] if local_assigns[:selected].nil?
    - input_radio = false if local_assigns[:input_radio].nil?


    - if input_radio
      %p
        %input{:id => "-1", :name => "radios", :type => "radio", :value => "-1"}
        %label{:for => "-1"} New album
      -#
      -# .radio
      -#   %label
      -#     %input{:id => "-1", :name => "Radios", :type => "radio", :value => "-1"}/
      -#     New album

      - Album.all.each do |album|
        %p
          %input{:checked => selected.include?(album.id.to_s), :id => "radio#{album.id}", :name => "radios", :type => "radio", :value => "#{album.id}"}/
          %label{:for => "radio#{album.id}"}= album.name
        -# .radio
        -#   %label
        -#     %input{:checked => selected.include?(album.id.to_s), :id => "album.id", :name => "Raios", :type => "radio", :value => "#{album.id}"}/
        -#     = album.name
    - else
      - Album.all.each do |album|
        .checkbox
          %label
            %input{:checked => selected.include?(album.id.to_s), :id => "album.id", :name => "sync_from_album_id_#{album.id}", :type => "checkbox", :value => "#{album.id}"}/
            = album.name
