.panel.panel-default.pre-scrollable
  .panel-body#albums
    - selected = [] if local_assigns[:selected].nil?
    - input_radio = false if local_assigns[:input_radio].nil?


    - if input_radio
      %p
        %input{:id => "#{radio_group}-1", :name => radio_group, :type => "radio", :value => "-1"}
        %label{:for => "#{radio_group}-1"} New album

      - Album.all.each do |album|
        %p
          - id = "#{radio_group}#{album.id}"
          %input{:checked => selected.include?(album.id.to_s), :id => "#{id}", :name => radio_group, :type => "radio", :value => "#{album.id}"}/
          %label{:for => "#{id}"}= album.name

    - else
      - Album.all.each do |album|
        .checkbox
          %label
            %input{:checked => selected.include?(album.id.to_s), :id => "album.id", :name => "sync_from_album_id_#{album.id}", :type => "checkbox", :value => "#{album.id}"}/
            = album.name
