.box.box-primary
  .box-header.with-border
    %h3.box-title Select Albums
  .box-body
    = form_tag do
      - @albums.each do |album|
        .radio
          %label
            %input#optionsRadios1{:checked => "checked", :name => "optionsRadios", :type => "radio", :value => "#{album.id}"}/
            = album.name
      = submit_tag "Select", class:"btn btn-default"
  .box-footer
    = paginate @albums
