.box.box-primary
  .box-header.with-border
    %h3.box-title Catalog settings
  / /.box-header
  / form start
  = form_tag("/catalogs/#{@catalog.id}/manage", method: "post") do
    .box-body
      = hidden_field_tag 'catalog', @catalog.id
      .form-group
        = label_tag( "Catalog name:")
        = text_field_tag("name", @catalog.name,class:"form-control")
      .form-group
        = label_tag("Catalog type:")
        = select_tag("type", options_for_select(@catalog_options, :selected=>@catalog.type), class:"form-control", disabled: true	)
        = hidden_field_tag 'type', @catalog.type
      #catalog-list.form-group
        = label_tag("Catalogs:")
        = render partial: "list", locals: {current_catalog: @catalog}
      .form-group
        = label_tag( "Appkey:")
        = text_field_tag("appkey", @catalog.appkey, class:"form-control", disabled: true)
      .form-group
        = label_tag( "Access token:")
        = text_field_tag("access_token", @catalog.access_token, class:"form-control")

    / /.box-body
    .box-footer
      = submit_tag "Save", class:"btn btn-default"
