
<%= form_tag("/catalogs/#{@catalog.id}/manage", method: "get") do %>

<div class="form-group">
	<%= label_tag( "Catalog name:") %>
	<%= text_field_tag("name", @catalog.name,class:"form-control") %>
</div>
<div class="form-group">
	<%= label_tag("Storage path:") %>
	<%= text_field_tag("path", @catalog.path, class:"form-control") %>
</div>

<div class="form-group">
	<%= label_tag("Catalog type:") %>
	<%= select_tag("type", options_for_select(@catalog_options, :selected=>@catalog.type), class:"form-control"	) %>
</div>

<div class="form-group">
	<%= label_tag("Catalogs:") %>
	<%= render "list" %>
</div>

<div class="form-group">						
	<%= label_tag("Synchronize from:") %>
	<%= render "albums/list" %>
</div>	


<div class="actions">
	<%= submit_tag "Save", class:"btn btn-default" %>
</div>




<% end %>


	
