<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= form_tag("/catalogs/#{@catalog.id}/manage", method: "post") do %>
				<%=hidden_field_tag 'catalog', @catalog.id%>
				<div class="form-group">
					<%= label_tag( "Catalog name:") %>
					<%= text_field_tag("name", @catalog.name,class:"form-control") %>
				</div>
				<div class="form-group">
					<%= label_tag("Storage path:") %>
					<%= text_field_tag("path", @catalog.path, class:"form-control") %>
				</div>


				<div class="form-group">
					<%= label_tag("Catalog type:") %>
					<%= select_tag("type", options_for_select(@catalog_options, :selected=>@catalog.type), class:"form-control"	) %>
				</div>

				<div class="form-group">
					<%= label_tag("Synchronize from:") %>
					<%= render "watchpath" %>
				</div>


				<div class="actions">
					<%= submit_tag "Save", class:"btn btn-default" %>
				</div>

				<% end %>
			</div> <!-- Panel body -->
		</div> <!-- Panel -->


	</div> <!-- Col -->
</div> <!-- Row -->
