.col-lg-12
  .box.box-solid
    .box-header.with-border
      %ul.text-right.list-inline
        - if defined? extra_tools.nil?
          %li= render :partial => extra_tools
        %li= link_to icon('fa fa-th', class: 'fa-lg'), controller: controller_name, action: action_name, viewmode: 'grid'
        %li= link_to icon('fa fa-th-list', class: 'fa-lg'), controller: controller_name, action: action_name, viewmode: 'list'

    .box-body
      - if @view == 'list'
        = render :partial => "photos/view/list"
      - else
        = render :partial => "photos/view/grid"


    .box-footer#infinite-scrolling
      .pull-right
