<div class="row">
	<div class="col-md-12">
		<% if @photos.count == 0 %>
			No Photos to display
		<% else %>
		
			<table class="table  table-condensed">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Date taken</th>
						<th>Country</th>
						<th>City</th>
						<th>Coordinates</th>
						<th>Camera</th>

						<th>size</th>
						<th>Catalog(s)</th>	  	  	  

					</tr>
				</thead>
				<tbody>
					<% @photos.each do |photo| %>
					<tr>
						<td>
							<%= link_to image_tag('/photos/' + photo.id.to_s + '/image/small'), photo %>
						</td>
						<td><%= check_box_tag 'bucket', 'accepted', (@bucket.include? photo.id), photo_id: photo.id  %></td>
						<td><%= photo.date_taken.strftime("%b %d %Y") %><br><%= photo.date_taken.strftime("%H:%m") %></td>
						<% if not photo.location.blank?%>
						<td><%= photo.location.country %></td>
						<td><%= photo.location.city %></td>
						<% else %>
						<td></td>
						<td></td>
						<% end %>
						<% if not (photo.longitude.blank? && photo.latitude.blank?) %>
						<td>Yes</td>
						<% else %>
						<td>No</td>
						<% end %>

						<td><%= photo.make %><br><%= photo.model %></td>
						<td><%= photo.original_width %>x<%= photo.original_height %>	</td>
						<td>
							<% photo.catalogs.each do |catalog| %>
							<%= catalog.name %>
							<% end %>
						</td>
						<td><%= link_to icon('pencil'), edit_photo_path(photo) %></td>
        
					</tr>
					<% end %>
				</tbody>
			</table>



			<div class="row">
				<%= paginate @photos, :theme => 'twitter-bootstrap-3' %>
			</div>

		<% end %>
	
	</div>
</div>