<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>


<table class="table">
  <thead>
    <tr>
      <th>Date taken</th>
      <th>Country</th>
      <th>City</th>
      <th>Model</th>
      <th>Make</th>
	  <th>Longitude</th>
	  <th>Latitude</th>
	  <th>Width</th>
	  <th>Heigth</th>	  	  	  

    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
		<td><img src="<%= '/photos/' + photo.id.to_s + '/image/small' %>" class="img-responsive" alt="Responsive image"></td>
        <td><%= photo.date_taken %></td>
		<td><%= photo.location.country %></td>
		<td><%= photo.location.city %></td>
		<td><%= photo.model %></td>
		<td><%= photo.make %></td>
		<td><%= photo.longitude %></td>
		<td><%= photo.latitude %></td>
		<td><%= photo.original_width %></td>
		<td><%= photo.original_height %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>



<%= paginate @photos %>