<p id="notice"><%= notice %></p>



<div class="row">
	<div class="col-md-12">
<%= link_to icon('chevron-circle-left'), :back %>
		<dl class="dl-horizontal">
	
			<dt>Filename:</dt>
			<dd><%= @photo.filename %></dd>
	
			<dt>Date taken:</dt>
			<dd><%= @photo.date_taken %></dd>
	
			<dt>Make:</dt>
			<dd><%= @photo.make %></dd>
	
			<dt>Model</dt>
			<dd><%= @photo.model %></dd>
	
			<% if not @photo.location.blank? %>

				<dt>Country</dt>
				<dd><%= @photo.location.country %></dd>

				<dt>City</dt>
				<dd><%= @photo.location.city %></dd>

				<dt>Address</dt>
				<dd><address><%= @photo.location.address %></address></dd>

				<dt>Map</dt>
				<dd>
					<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=10&markers=#{@photo.location.latitude}%2C#{@photo.location.longitude}" %>
				</dd>
		
			<% end %>

			<dt>Original Path:</dt>
			<dd><%= @photo.path %></dd>
			
			<dt>Thumb Path:</dt>
			<dd><%= @photo.file_thumb_path %></dd>
			
			<dt>Extension:</dt>
			<dd><%= @photo.file_extension %></dd>
			
			<dt>File size:</dt>
			<dd><%= @photo.file_size %></dd>
			
			<dt>Photo:</dt>
			<dd><%= image_tag '/photos/' + @photo.id.to_s + '/image/medium' %></dd>
		</dl>
	</div>
</div>

