=content_for :title, "Info"
=content_for :subtitle, "Photo taken #{@photo.date_taken_formated}"
.row

  = button_to("Back", action: "index", params: {album:{start: @photo.date_taken}})
.row
  - if @size == 'medium'
    .col-md-6
      .box.box-primary
        .box-header.with-border
          %h3.box-title Photo
          = render :partial => "photos/show/photo_size_toolbar"
          .box-body
            = image_tag "/photos/#{@photo.id.to_s}/image/#{@size}", {style:"margin: 0 auto;image-orientation:90deg;", class: "img-responsive"}

  - else
    .col-md-12
      .box.box-primary
        .box-header.with-border
          %h3.box-title Photo
          = render :partial => "photos/show/photo_size_toolbar"
          .box-body
            = image_tag "/photos/#{@photo.id.to_s}/image/#{@size}", {style:"margin: 0 auto;image-orientation:90deg;", class: "img-responsive"}


  - if @size == 'medium'
    .col-md-6
      = render "info"
