<p id="notice"><%= notice %></p>

<h1>Listing locations</h1>
<div class="container">

	<div class="row">
		<div class="col-lg-3">

			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Path</th>
						<th>Default</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @locations.each do |location| %>
					<tr>
		
						<td><%= location.country %></td>
						<td><%= location.city %></td>
						<td><%= location.address %></td>
						<td><%= link_to icon('pencil'), location_path(location) %></td>
        
					</tr>
					<% end %>
				</tbody>
			</table>

			<div class="col-sm-6 col-sm-offset-3">
				<%= paginate @locations %>
			</div>
		</div>
	</div>
</div>


