.row
  .col-lg-3
    %h4 Locations
.row
  .pull-right.col-lg-1
    .btn-group
      %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Actions
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "/locations/lookup"} Lookup locations
.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th Country
          %th City
          %th Address
          %th
          %th
          %th
      %tbody
        - @locations.each do |location|
          %tr
            %td= location.country
            %td= location.city
            %td= location.address
            %td= link_to icon('picture-o'), controller: 'locations', action: 'view', id: location
            %td= link_to icon('eye'), location_path(location)
            %td= link_to icon('pencil'), edit_location_path(location)
    .col-sm-6.col-sm-offset-3
      = paginate @locations, :theme => 'twitter-bootstrap-3'
