%aside.control-sidebar.control-sidebar-dark
  / Create the tabs
  %ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#control-sidebar-tab-nav"}
        %i.fa.fa-home
    %li
      %a{"data-toggle" => "tab", :href => "#control-sidebar-tab-bucket"}
        %i.fa.fa-clipboard
    %li
      %a{"data-toggle" => "tab", :href => "#control-sidebar-tab-photo"}
        %i.fa.fa-gears
  / Tab panes
  .tab-content
    / Home tab content
    #control-sidebar-tab-bucket.tab-pane
      = render :partial => 'layouts/control_sidebar/bucket_tab'
    #control-sidebar-tab-nav.tab-pane.active
      = render :partial => 'layouts/control_sidebar/nav_tab'
    #control-sidebar-tab-photo.tab-pane
      = render :partial => 'layouts/control_sidebar/photo_tab'

-# modal for save bucket
#album-list-bucket.modal{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Save to album
      .modal-body
        = render partial: "albums/list", locals: {input_radio: true}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Save to album


-# modal for save Photo
#album-list-photo.modal{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Save to album
      .modal-body
        = render partial: "albums/list", locals: {input_radio: true}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Save to album

:css
  .box-body {
    padding-right: 8px;
    padding-left: 8px;
  }

  .scrollable-menu {
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
  }
