!!!
%html
  %head
    %meta{:content => "width=device-width, maximum-scale=1, user-scalable=no, initial-scale=1.0", :charset => "UTF-8", "http-equiv" => "Content-Type", "name"=>"viewport"}/
    %title Phototank
    %script{:src => "//maps.google.com/maps/api/js?key=AIzaSyCo65ll7nP_He2adxqP2ayfFSXXB7WNWtI&libraries=places", :type => "text/javascript"}


    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.skin-black.sidebar-mini.sidebar-collapse{:class=>"#{controller_name} #{action_name}"}
    %a.back-to-top{:href=>"#"}>
      %i.fa.fa-arrow-circle-up.fa-2x

    .wrapper
      =render "layouts/header_navbar"
      =render "layouts/side_navbar"
      =render "layouts/content"
      =render "layouts/control_sidebar"
